*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 0px;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "navbar navbar navbar"
    "asidebar grillap grillap"
    "footer footer footer"
    ;
    background-color: #e7e7e7;
}

.navbar{
    margin-top: 0px;
    background-color: #25527b;
    grid-area: navbar;
}
.asidebar{
    grid-area: asidebar;
}
.grillap{
    grid-area: grillap;
}
.footer{
    grid-area: footer;
}